# Misc file types
*.docx
*.docx#
roms/
z_old/
*.nes
*.bk2
*.mp4
*.el
*.aux
*.bbl
*.blg
*.out
*.bcf
src/NEAT-SuperMarioBros-NES/SuperMarioBros-Nes/
neat-test/
neat-checkpoint-*
doc/_minted-proy2

# Python venv
# Note: To ignore symlinks use 'find * -type l >> .gitignore'
bin/
lib/
lib64/
pyvenv.cfg
bin/python3
bin/python3.8
bin/python
lib64
